body{
    margin: 0;
    background-color: rgb(215, 222, 232);
}
.header{
    text-align: center;
}
.header__text_highlighted{
    color: rgb(66, 134, 244);
}
.nav{
    position: fixed;
    top: 2px;
    left: 2px;
}
.nav__link{
    font-size: 12px;
    color: rgba(0,0,0,0.9);
    text-decoration: none;
}
.nav__link:hover{
    text-decoration: underline;
}
.main__game-cl-container{
    text-align: center;
}
.main__input-cl{
    border: 1px solid rgba(0,0,0,0.05);
    background-color: inherit;
    padding: 10px;
    margin-top: 50px;
}
.main__input-cl:hover{
    border: 1px solid rgba(0,0,0,0.2);
}
.main__input-cl:focus{
    border: 1px solid rgba(0,0,0,0.2);
}
.main__travel-description{
    width: 30%;
    display: inline-block;
}
.main__travel-status{
    width: 30%;
    display: inline-block;
}
.main__game-text-panel{
    text-align: center;
    border-left: 1px dashed rgba(0,0,0,0.05);
}
.main__travel-status-values{
    font-weight: bold;
}
.main__country-map-figure{
    display: block;
    text-align: center;
    padding-top: 25px;
}
.main__country-map{
    height: 200px;
}
.main__map-figurecaption{
    font-size: 11px;
}
.span_bold{
    font-weight: bold;
}
