body{
    margin: 0;
    background-color: rgb(192, 224, 177);
    color: rgba(0,0,0,0.9);
}
.header{
    text-align: center;
    margin: 50px 0;
}
.nav{
    position: fixed;
    top: 2px;
    left: 2px;
}
.nav__link{
    font-size: 12px;
    color: rgba(0,0,0,0.9);
    text-decoration: none;
}
.nav__link:hover{
    text-decoration: underline;
}
.tags-container{
    width: 350px;
    margin: 100px auto;
}
.tag-first{
    font-size: 20px;
}
.tag-second{
    font-size: 18px;
}
.tag-third{
    font-size: 16px;
}
.tag-fourth{
    font-size: 14px;
}
.tag-fifth{
    font-size: 12px;
}
.tag-list{
    padding: 0;
    margin: 0;
}
.tag-list li{
    list-style: none;
    display: inline-block;
}
.tag-list a{
    text-decoration: none;
    color: rgba(0,0,0,0.9);
    margin: 5px;
}
.tag-list a:hover{
    background-color: rgb(66, 137, 244);
}
.tag-list a:focus{
    outline: none;
    background-color: rgb(66, 137, 244);
}
